/* GENERAL STYLES */
* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

div.main {
    min-height: 500px;
}

footer {
    display: flex;
    align-items: center;
    height: 250px;
    width: 100vw;
    background-color: #F8F9FA;
}

/* STYLED LINK */
#styled-link {
    text-decoration: none;
    font-weight: 500;
}

#styled-link:hover {
    color: #959393;
}

/* GENERAL FORM STYLES */
#form-btn {
    height: 60px;
    width: 115px;
    font-size: 17px;
}